{{extend 'layout.html'}}

{{block head}}
<script src="{{=URL('static', 'js/vue.js')}}"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<link href='https://fonts.googleapis.com/css?family=Happy Monkey' rel='stylesheet'>
<script src="jquery-3.3.1.min.js"></script>
<link href="{{=URL('static', 'css/stupid.css')}}" rel="stylesheet" type="text/css">
<script>
  var getGamesUrl = "{{=URL('api', 'get_all_games')}}";
  var insertGameUrl = "{{=URL('api', 'insert_game')}}"; 
  var get_match_results_url = "{{=URL('api', 'get_match_results')}}";
</script>
{{end}}

<style>
h1{
  font-family: "Happy Monkey"
}

.gameoid{
width: 70%;
margin-left: auto;
margin-right: auto;
margin-bottom: 50px; 
}

.timer-div{
  background-color: rgb(253, 182, 29);
  margin-bottom: 50px; 
}

.newform{
background-color: rgba(73, 160, 100,1);
}

.bigboy{
  font-size: 350%;
}

.googlered{
  background-color: rgb(212, 58, 64);
}

body{
background-image: url("{{=URL('static','images/blk.jpg')}}");
font-family: "Happy Monkey"
}

#some-element {
  border: 1px solid #ccc;
  display: none;
  font-size: 10px;
  margin-top: 10px;
  padding: 5px;
  text-transform: uppercase;
}

#some-div:hover #some-element {
  display: block;
}

</style>
<body>
<div class= center>
<h1>
  <span style='color: blue'>T</span>
  <span style='color: red'>R</span>
  <span style='color: yellow'>E</span>
  <span style='color: blue'>N</span>
  <span style='color: green'>D</span>
  <span style='color: red'>I</span>
  <span style='color: yellow'>F</span>
  <span style='color: blue'>Y</span>
</h1>
</div>

  <div class="timer-div padded rounded" style="width:400px">
    <div id="some-div">
    <h4> Trendify tests your knowledge of current events! </h4>
    <h5> How to play: </h5>
      <span id="some-element" style="font-size: 16px">
        The game is controlled by the TrendsMaster, who picks the base 
        term and starts the timer. 
        </br>
        
        The two teams have 60 seconds to decide on their term.
        </br>

        When the timer goes off, the teams must present their term.
        </br>

        The teams alternate with who presents the term first, as the second term cannot be the same as the first.
        </br>
        
        The TrendsMaster then enters the terms, views the graph average and awards a team the point.
        </br>
      </span>
    </div>
  </div>

  <!-- <div class="gameoid yellow padded rounded">-->
  <script>
  window.onload = () => {
    //let hour = 0;
    //let minute = 0;
    let seconds = 60;
    let totalSeconds = 0;

    let intervalId = null;

    function startTimer() {
      ++totalSeconds;
      //hour = Math.floor(totalSeconds /3600);
      //minute = Math.floor((totalSeconds - hour*3600)/60);
      //seconds = totalSeconds - (hour*3600 + minute*60);
      seconds = 60 - totalSeconds;

      //document.getElementById("hour").innerHTML =hour;
      //document.getElementById("minute").innerHTML =minute;
      document.getElementById("seconds").innerHTML =seconds;

      if(seconds==0){
       alert("OUT OF TIME BUDDY");
       totalSeconds = 0;
       //document.getElementById("hour").innerHTML = '0';
       //document.getElementById("minute").innerHTML = '0';
       document.getElementById("seconds").innerHTML = '60';
       if (intervalId)
         clearInterval(intervalId);
        }
    }

    document.getElementById('start-btn').addEventListener('click', () => {
      intervalId = setInterval(startTimer, 1000);
    })

    document.getElementById('stop-btn').addEventListener('click', () => {
      if (intervalId)
        clearInterval(intervalId);
    });


    document.getElementById('reset-btn').addEventListener('click', () => {
     totalSeconds = 0;
     //document.getElementById("hour").innerHTML = '0';
     //document.getElementById("minute").innerHTML = '0';
     document.getElementById("seconds").innerHTML = '60';
     if (intervalId)
       clearInterval(intervalId);
    });
  }
  </script>

  <div id="likes" class="googlered center rounded" style="width:800px">
    <button type="button" id="reset">Start A New Game!</button> </br>
  <button type="button" id="team1">Team 1 wins!</button>
          Team 1: <span class="team1"></span> Points </br>
  <button type="button" id="team2">Team 2 wins!</button>
          Team 2: <span class="team2"></span> Points </br>
  </div>
  <script type="text/javascript">
    var clicks1 = 0;
    var clicks2 = 0
    if(sessionStorage.getItem("clicks1")){
      clicks1 = sessionStorage.getItem("clicks1");
    }
    if(sessionStorage.getItem("clicks2")){
      clicks2 = sessionStorage.getItem("clicks2");
    }
    $('.team1').html(clicks1);
    $('.team2').html(clicks2);

    $("#team1").click(function(){ 
      clicks1++; 
      $('.team1').html(clicks1);
      sessionStorage.setItem("clicks1", clicks1);
    });
    $("#team2").click(function(){ 
      clicks2++; 
      $('.team2').html(clicks2);
      sessionStorage.setItem("clicks2", clicks2);
    });
    $("#reset").click(function(){ 
      if(clicks1 > clicks2){
        alert("Team 1 won the game!");
      }else if (clicks2>clicks1){
        alert("Team 2 won the game!");
      }else{
        alert("It's a draw!");
      }
      window.location="{{=URL('api','clear_games')}}";
      clicks1 = 0; 
      clicks2 = 0; 
      $('.team1').html(clicks1);
      $('.team2').html(clicks2);
      sessionStorage.setItem("clicks1", clicks1);
      sessionStorage.setItem("clicks2", clicks2);
    });
  </script>

  <div class="timer-div center rounded padded" style="width:800px;"> 
    <!-- <div>Hour: <span id="hour"></span></div>
    <div>Minute: <span id="minute"></span></div>-->
    <div>Seconds: <span id="seconds">60</span></div> 

    <button id="start-btn">Start</button>
    <button id="stop-btn">Stop</button>
    <button id="reset-btn">Reset</button>
  </div>
<div id="app" class="display:none">
	<div v-show="showButton">
    <div class="center" >
        <button class = "large olive" style = "width:800px" v-on:click="showForm = !showForm; showButton = !showButton">New Round</button>
    </div>
	</div>
        <div v-show="showForm">
	    <div class = "newform center form_row rounded " style="width:800px"  >
		<div class = "label quarter"><font color = "Red">
			Base Term: 
		</font></div>
		<input v-model="newBaseTerm" type="text" placeholder="Base Term"/><br><br>
	    <div class = "label quarter"><font color = "blue">
			Team One's Term: 
		</font></div>
        	<input v-model="newTerm1" type ="text" placeholder="Term 1"/><br><br>
	   <div class = "label quarter"><font color = "yellow">
			Team Two's Term:
		</font></div>
        	<input v-model="newTerm2" type="text" placeholder="Term 2"/><br><br>
	   <div class = "submit">
		<button class = "center padded rounded lime " v-on:click="insertGame">
			Submit</button>
	   </div>
	</div>
       </div>
    </div>

  <!-- <div class="timer-div center rounded padded" style="width:800px;"> 
    <p id="demo"></p>
  </div>
  <script>
    var countDownDate = new Date().getTime() + 60000;
    var x = setInterval(function() {
      var now = new Date().getTime();
      var distance = countDownDate - now;
      var seconds = Math.floor((distance % (1000 * 60)) / 1000);
      document.getElementById("demo").innerHTML = seconds + "s ";
      if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
      }
    }, 1000);
  </script>-->

  
{{for r in rows:}}
	<div class ="gameoid card" style="width: 800px; height:500px">
  		<div> 
    			<div class="bigboy padded rounded blue ">
        		<div class="base_term center"><font color="yellow"> Base Term: {{=r['base_term']}}</font></div>
        		<div class="term1 center "><font color = "lime">Term 1: {{=r['term1']}}</font> </div>
			<div class="vs center "><font color = "red">VS</font></div>
        		<div class="term2 center "><font color = "lime">Term 2: {{=r['term2']}}</font></div>
        		<div class="url"></div>
   		</div>
 		<div class = "padded rounded" >
    			<div>
    			<a href = "{{=URL('default', 'delete', args=[r['id']])}}" class = "btn red" style="float: right;">
			<i class="fa fa-trash-o"></i> Delete</a>
        <script type="text/javascript" src="https://ssl.gstatic.com/trends_nrtr/1644_RC01/embed_loader.js"></script> <script type="text/javascript"> trends.embed.renderExploreWidget("TIMESERIES", {"comparisonItem":[{"keyword":"{{=r['term1']}} {{=r['base_term']}}","geo":"US","time":"today 12-m"},{"keyword":"{{=r['term2']}} {{=r['base_term']}}","geo":"US","time":"today 12-m"}],"category":0,"property":""}, {"exploreQuery":"geo=US&q=two%20one,thre%20one&date=today 12-m,today 12-m","guestPath":"https://trends.google.com:443/trends/embed/"}); </script>
     			</div>
   		</div>
 	</div>
</div>

  {{pass}}
<script src="{{=URL('static','js/default_index.js')}}"></script>
</body>
